@inherits MainComponent

<div class="agent-equipment rz-pb-3">
	<div class="main-content">
		<div class="agent-weapon" @onclick="() => _equipmentSelectedIndex = 0">
			@if (Agent.Engine is {} engine)
			{
				<img alt src=@engine.Info.Url/>
			}
			else
			{
				<img alt src="icons/misc/Icon_Storage_W-Engine.webp"/>
			}
		</div>
		@for (var i = 0; i < 6; i++)
		{
			var li = i + 1;
			<div class=@($"agent-disc agent-disc-{i}")  @onclick="() => _equipmentSelectedIndex = li">
				@if (Agent.Discs[i] is {} disc)
				{
					<img alt src=@disc.Info.Url/>
				}
				else
				{
					<img alt src="icons/misc/Icon_Storage_Drive_Disc.webp"/>
				}
			</div>
		}
	</div>
</div>

<RadzenTabs class="hidden-tabs" @bind-SelectedIndex="_equipmentSelectedIndex">
	<Tabs>
		<RadzenTabsItem Text="Engine">
			@if (Agent.Engine is {} engineState)
			{
				@engineState.Info.DisplayName
			}
		</RadzenTabsItem>
		@for (var i = 0; i < 6; i++)
		{
			<RadzenTabsItem Text="Disc">

			</RadzenTabsItem>
		}
	</Tabs>
</RadzenTabs>

@code {

}