tbody tr:hover td {
	background-color: var(--rz-panel-menu-item-2nd-level-hover-background-color) !important;
}

.rz-group-row td {
	background-color: var(--rz-grid-stripe-background-color) !important;
}

.rz-data-row td {
	background-color: var(--rz-grid-stripe-odd-background-color) !important;
}