body {
	background-image: url("/icons/misc/background.webp");
	background-size: cover;
	background-position-x: center;
}

.rz-header {
	min-height: 32px;
}

.body-content > .rz-stack > .rz-card {
	max-width: 450px;
	min-width: 400px;
}

.body-content > .rz-stack {
	width: min-content;
	min-width: 100%;
}

.adaptive-tab-item {
	width: 100%;
}

.adaptive-tab-item > a {
	padding: 8px !important;
}

.no-border-tabs > .rz-tabview-panels {
	border: none;
}

.no-border-tabs .adaptive-tab-item {
	border-left: none;
	border-right: none;
}

.setup-tabs > .rz-tabview-panels > .rz-tabview-panel {
	padding-left: 0;
	padding-right: 0;
}

.hidden-tabs > ul {
	display: none;
}

.z-select {
	width: 67px;
	border: none !important;
	box-shadow: none !important;
}

.rz-dropdown {
	cursor: pointer;
}

.adaptive-tab-item > a {
	justify-content: center;
}

.loading-progress {
	display: flex;
	justify-content: center;
	padding-top: 150px;
}

.loading-progress img {
	max-width: 75%;
}

.agent-avatar, .engine-avatar {
	position: relative;
	cursor: pointer;

	background-color: #333534;
	background-color: rgba(51, 53, 52, 1);

	border-color: #000;
	border-color: rgba(0,0,0,1);

	border-style: solid;
	border-width: .15rem;
	border-radius: 1rem;
	
	width: 100px;
	height: 120px;
	overflow: hidden;
	flex: none;
}

.engine-avatar {
	height: 105px;
}

.choose-grid .rz-col {
	display: flex;
	justify-content: center;
}

.z-filter-menu > .rz-navigation-menu{
	right: -50px;
}

.rz-dialog-content {
	min-height: 300px;
}
