@inherits LayoutComponentBase

<RadzenLayout>
	<RadzenHeader>
		<RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" Gap="0" Style="height: 100%">
			<RadzenLabel class="rz-p-1">
				ZZZ Damage Calculator
			</RadzenLabel>
		</RadzenStack>
	</RadzenHeader>
	<RadzenBody Class="body-content rz-p-0 rz-p-xs-4">
		<ErrorBoundary>
			<ChildContent>
				@Body
			</ChildContent>
			<ErrorContent Context="ex">
				<div class="blazor-error-boundary">@ex.Message</div>
			</ErrorContent>
		</ErrorBoundary>
	</RadzenBody>
	<RadzenComponents/>
</RadzenLayout>