@inherits LayoutComponentBase

<FluentDesignTheme Mode="DesignThemeModes.Dark"/>

<FluentLayout>
	<FluentHeader>
		ZZZDmgCalculator
	</FluentHeader>
	<FluentBodyContent Class="body-content">
		<ErrorBoundary>
			<ChildContent>
				<div class="content">
					@Body
				</div>
			</ChildContent>
			<ErrorContent Context="ex">
				<div class="blazor-error-boundary">@ex.Message</div>
			</ErrorContent>
		</ErrorBoundary>
	</FluentBodyContent>
</FluentLayout>