@using ZZZDmgCalculator.Models.State
@inherits MainComponent

<ChooseDialogTitlebar Title=@Lang["AgentSelection"] TitlebarThreshold="535" FilterThreshold="875" @bind-SearchFilter="_searchFilter">
	<EnumFilters>
		<EnumFilter Value="_attributesFilter" FilterChanged="StateHasChanged"/>
		<EnumFilter Value="_specialtiesFilter" FilterChanged="StateHasChanged"/>
		<EnumFilter Value="_rankFilter" FilterChanged="StateHasChanged"/>
	</EnumFilters>
</ChooseDialogTitlebar>

<ChooseDialogGrid Items="_agents" IsVisible="ApplyFilters">
	<div class="agent-avatar" @onclick="() => Dialogs.Close(new AgentState(context))">
		<img src="@context.Url" alt="@context.Id"/>
	</div>
</ChooseDialogGrid>