@inherits MainComponent

<ChooseDialogTitlebar Title=@Lang["AgentSelection"] TitlebarThreshold="535" FilterThreshold="875" @bind-SearchFilter="_searchFilter">
	<EnumFilters>
		<EnumFilter Value="_attributesFilter" FilterChanged="StateHasChanged"/>
		<EnumFilter Value="_specialtiesFilter" FilterChanged="StateHasChanged"/>
		<EnumFilter Value="_rankFilter" FilterChanged="StateHasChanged"/>
	</EnumFilters>
</ChooseDialogTitlebar>

<RadzenRow Gap="10px" RowGap="10px">
	@foreach (var (key, info) in ApplyFilters(Info.AvailableAgents))
	{
		<RadzenColumn>
			<div class="agent-avatar" @onclick="() => Dialogs.Close(key)">
				<img src="@info.Url" alt="@info.Id"/>
			</div>
		</RadzenColumn>
	}
</RadzenRow>